<div>
  <h1>{{ 'demo.title' | translate }}</h1>
  <p>{{ 'demo.text' | translate }}</p>

  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>

  <p>--------------Seperator--------------</p>

  <!-- translation with parameters: translation pipe -->
  <p>{{ 'demo.greeting' | translate:{'name':'Ancel'} }}</p>

  <!-- translation: directive (key as attribute) -->
  <p [translate]="'demo.greeting'" [translateParams]="{name: 'Pascal'}"></p>

  <!-- translation: directive (key as content of element)-->
  <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>

  <p>--------------Seperator--------------</p>

  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('de')">de</button>

</div>